<div class="d-flex justify-content-center" *ngIf="isLoading">
  <mat-spinner></mat-spinner>
</div>

<mat-card class="example-card" *ngIf="!isLoading">
    <mat-card-header class="justify-content-center">
      <mat-card-title>{{crewMember.firstName}} {{crewMember.lastName}}</mat-card-title>
    </mat-card-header>
    <img mat-card-image [src]="crewMember.imagePath" alt="Photo of Crew member">
    <mat-card-content>
      <div>Strength: {{crewMember.strength}}</div>
      <div>Agility: {{crewMember.agility}}</div>
      <div>Intellect: {{crewMember.intellect}}</div>
    </mat-card-content>
  </mat-card>
  